.tb-title-stu {
    // padding: 20px 0 20px 0 !important;
    line-height: 80px;
}

.chat {
    overflow: hidden;
}

.chartdes {
    color: red;
    margin: 10px;
    text-align: center;
}

.tr-gonggao {
    margin-top: 0;
}

.tb-guanggao {
    overflow: hidden;
    .tb-announcement {
        transition: all .3s;
        margin-top: 0;
    }
}